* {
  box-sizing: border-box;
}

body, html, ul, p {
  margin: 0;
  padding: 0;
}

/*header*/

/*main*/

main {
  position: relative;
}

.car, .bang {
  display: inline-block;
}

.car {
  height: 200px;
  position: absolute;
}

.car img, .bang img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.bang {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1);
  z-index: 10;
  animation: bangAnim 2s ease-in infinite;
  opacity: 0;
}

.car-left {
  left: 0;
  top: 0;
  animation: leftAnim 2s ease-in infinite;
}

.car-right {
  right: 0;
  top: 0;
  animation: rightAnim 2s ease-in infinite;
}

@keyframes leftAnim {
  0% {
    left: 0;
    transform: translateX(0);
  }

  50% {
    left: 50%;
    transform: translateX(-100%);
  }

  100% {
    left: 50%;
    transform: translateX(-100%);
  }
}

@keyframes rightAnim {
  0% {
    right: 0;
    transform: translateX(0);
  }

  50% {
    right: 50%;
    transform: translateX(100%);
  }

  100% {
    right: 50%;
    transform: translateX(100%);
  }
}

@keyframes bangAnim {
  49% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1.2)
  }
}

/*footer*/
